$colorPrimary: #F4F6F7;
$colorSecondary: #FECA0B;
$colorTertiary: #383A3C;
$colorTertiaryAlpha: #383A3C50;

.list{
  background: $colorTertiaryAlpha;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  
  &:hover{
    text-decoration: none;
  }

  .list__image{
    height: 100px;
    width: auto;

    border-radius: 100%;
  }

  .list__name{
    margin: 0;
    color: $colorPrimary;
  }

  i{
    color: $colorSecondary;
  }
}
